<% include header.ejs %>
<main class="row">
    <div class="container">
        <div class="row">
            <h1 class="first">Vizits: <%=vizits%></h1>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
    </div>
</main>
<% include footer.ejs %>