<% include header.ejs %>
<main class="row">
    <div class="container">
        <div class="row">
            <h1 class="first">Hello world...</h1>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
    </div>
</main>
<section class="row info">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>first</h1>
            </div>
            <div class="col-md-4">
                <h1>second</h1>
                <div class="image">
                    <img src="http://www.worldanimalfoundation.net/i/chicken3.jpg" alt="" width="200" class="image"/>
                </div>
            </div>
            <div class="col-md-4">
                <h1>third</h1>
            </div>
        </div>
    </div>
</section>
<% include footer.ejs %>