<% include header.ejs %>
<main class="row">
    <div class="container">
        <div class="row">
            <h1 class="first">Profile: <%=user.username%></h1>
            <ul>
                <li><%=user.username%></li>
                <li><%=user.useremail%></li>
                <li><%=user.created%></li>
            </ul>
        </div>
    </div>
</main>
<% include footer.ejs %>